<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
	{% if search_id %}
		{% if States.get(search_id, "no") != "no" %}
			<H1>States</H1>
			<H3>Cities</H3>
			<UL>
				{% for city in States.cities|sort(attribute="name") %}
					<LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
				{% endfor %}
			</UL>
		{% else %}
			<H1>Not found!</H1>
		{% endif %}
	{% else %}
		{% set sorted = States.items()|sort(attribute="1.name") %}
		<H1>States</H1>
		<UL>
			{% for key, val in sorted %}
				{% if val.name %}
					<LI>{{ val.id }}: <B>{{ val.name }}</B></LI>
				{% endif %}
			{% endfor %}
		</UL>
	{% endif %}
   </BODY>
</HTML>
